.project
.settings/*
.idea/*

initcopy/target/*
initcopy/.settings/*
initcopy/.classpath
initcopy/.project

transfer/.settings/*
transfer/.classpath
transfer/.project
transfer/target/*

*.iml

*.log

initcopy/log/

*.db
